:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --color-white: #ffff;
    --color-light-blue: #2196F3;
    --color-dark-blue: #188CE8;
    --color-dark: #212121;
    --color-light-grey: #757575;
    --color-dark-grey: #2F303A;

}
a {
    text-decoration: none;
}
.list {
    list-style: none;
}

/* верхній хедер */
.header {
    background-color: var(--color-white);
}

.title-web-studio {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 24px;
    padding-left: 215px;
}
.first-part {
    color: var(--color-light-blue);
}

.second-part {
    color: #000000 ;
}
.title-web-studio,
.menu-nav {
    align-items: center;
}

.menu-nav {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0; 
    padding: 4px; 
    margin-right: 5px; 
    padding: 3px; 
    display: flex;
}

.name-studio:hover { color:var(--color-dark-blue)}
.name-contacts:hover { color:var(--color-dark-blue)}
.name-portofolio:hover { color:var(--color-dark-blue)}

.name-studio:focus { color:var(--color-dark-blue)} 
.name-contacts:focus { color:var(--color-dark-blue)} 
.name-portofolio:focus { color:var(--color-dark-blue)} 


.name-studio {   
    color: var(--color-light-blue);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.name-contacts,
.name-portofolio {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    display: inline; 
}
.name-portofolio {   
margin-left: 50px;
}
    
.name-contacts {   
margin-left: 50px;
}

/* контакти */
    .link-email { 
        color: var(--color-light-blue);
    }
    
    .link-tel {
        color: #757575;
    }
    
 /* головна частина */
    
/* шапка з кнопкою */
    .section-decision {
        background-color: var(--color-dark-grey);
        color: var(--color-white);
        font-family: var(--primary-font);
    }
    .title-decision {
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    .button-order {
        background-color: var(--color-light-blue);
        color: var(--color-white);
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
    }
    .button-order:hover { background-color:var(--color-dark-blue) }

/* пріоритети */

    .head-title-priorities {
        visually-hidden 
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
          
    }
    .priorities {
        font-family: var(--primary-font);
        font-size: 14px;
        letter-spacing: 0.03em;

    }
    .title {   
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        color: var(--color-dark);
    }
.text {   
        font-weight: 400;
        line-height: 24px;            
        color: var(--color-light-grey);
    }

/* чим ми займаємося */

.team-space {
    background-color: #F5F5F5;
}
.card {
    background-color: var(--color-white);  
}

.making, 
.team {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-dark);
}
img {
    display: block;
}
.name {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-dark);
}

.position {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-light-grey); 
}
/* нижній хедер */
.geo {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-white);  
}
.bottom-contacts {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff99;
}
.footer {
background-color: var(--color-dark-grey);
}