:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --color-white: #ffff;
    --color-light-blue: #2196F3;
    --color-dark-blue: #188CE8;
    --color-dark: #212121;
    --color-light-grey: #757575;
    --color-dark-grey: #2F303A;
    --letter-spacing-normal: 0.03em;

}
a {
    text-decoration: none;
}
.list {
    list-style: none;
}

/* верхній хедер */
.header {
    background-color: var(--color-white);
}

.head-web-studio {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-normal);
}
.first-part {
    color: var(--color-light-blue);
}
.second-part {
    color: #000000 ;
}
.head-web-studio,
.menu-nav {
    align-items: center;
}


.nav-link-stud:hover { color:var(--color-dark-blue)}
.nav-link-port:hover { color:var(--color-dark-blue)}
.nav-link-cont:hover { color:var(--color-dark-blue)}
        
.nav-link-stud:focus { color:var(--color-dark-blue)} 
.nav-link-port:focus { color:var(--color-dark-blue)} 
.nav-link-cont:focus { color:var(--color-dark-blue)} 



.menu-nav {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-link-stud {   
    color: var(--color-light-blue);
}
.nav-link-port,
.nav-link-cont {
    color: var(--color-dark);
}


/* контакти */
    .link-email,
    .link-tel {
        font-family: var(--primary-font);
    }

    .link-email { 
        color: var(--color-light-blue);
    }
    
    .link-tel {
        color: var(--color-light-grey);
    }
    
 /* головна частина */
    
/* шапка з кнопкою */
    .section-decision {
        background-color: var(--color-dark-grey);
        color: var(--color-white);
        font-family: var(--primary-font);
    }
    .title-decision {
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    .button-order {
        background-color: var(--color-light-blue);
        color: var(--color-white);
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
    }
    .button-order:hover { background-color:var(--color-dark-blue) }

/* пріоритети */

    .head-title-priorities, 
    .visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }
    .priorities {
        font-family: var(--primary-font);
        font-size: 14px;
        letter-spacing: var(--letter-spacing-normal);

    }
    .title {   
        
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        color: var(--color-dark);
    }
    .text {   
        line-height: 24px;            
        color: var(--color-light-grey);
    }
/* чим ми займаємося */
img {
    display: block;}
.section-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-dark);
}

/* команда */
    .team-space {
    background-color: #F5F5F5;
}
    .card {
    background-color: var(--color-white);  
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
}
    .name {
    font-weight: 500;
    color: var(--color-dark);
}

    .position {
    color: var(--color-light-grey); 
}
/* нижній хедер */

.footer-web-studio {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-normal);
}
.f-first-part {
    color: var(--color-light-blue);
}
.f-second-part {
    color: var(--color-white) ;
}
.geo:hover { color:var(--color-dark-blue)}
.bottom-contacts:hover { color:var(--color-dark-blue)}

.geo:focus { color:var(--color-dark-blue)} 
.bottom-contacts:focus { color:var(--color-dark-blue)} 


.geo,
.bottom-contacts {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--letter-spacing-normal);
    font-style: normal;
}
.geo {
    color: var(--color-white);  
}
.bottom-contacts {
    color: #ffffff99;
}
.footer {
background-color: var(--color-dark-grey);
}