
a
{
    text-decoration: none;
}
ul
{
list-style: none;
}
.body
{
    width: 1600px;
}


/* верхній хедер */
.header
{
    background-color: #FFFFFF;
}

.title-web-studio
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.first-part
{
    color: #2196F3;
}

.second-part
{
    color: #000000 ;
}
.menu-nav
{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    .name-studio
    {   
        color: #2196F3;
        width: 45px;
        height: 16px;
        left: 453px;
        top: 32px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
   
    .name-portofolio
    {   
        color: #212121;
        width: 72px;
        height: 16px;
        left: 548px;
        top: 32px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        }
    
    .name-contacts
    {   
        color: #212121;
        width: 64px;
        height: 16px;
        left: 670px;
        top: 32px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em
    }
    
/* контакти */
    .name-contacts
    {
        height: 16px; 
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em; 
        top: 32px;
    }
    .link-email
    { 
        color: #2196F3;
        width: 135px;
        left: 1078px;
    }
    
    .link-tel
    {
        color: #757575;
        width: 122px;
        left: 1263px;
    }
 /* головна частина */
    .main 
    {
        
    }
/* шапка з кнопкою */
    .section-decision
     {
            background-color: #2F303A;
            color: #FFFFFF;
            font-family: 'Roboto';
    }
    .title-decision
    {       font-style: normal;
            font-weight: 900;
            font-size: 44px;
            line-height: 60px;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
    }
    .button-order
    {
            background-color: #2196F3;
            width: 216px;
            height: 50px;
            left: 692px;
            top: 430px;
            margin-left: 692px;
    }
/* пріоритети */
    .priorities
    {
            width: 270px;
            left: 215px;
            font-family: 'Roboto';
            font-style: normal;
            font-size: 14px;
            letter-spacing: 0.03em;

    }
    .title
    {   height: 16px;
        top: 774px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        color: #212121;
    }
    .text
    {   height: 72px;
        top: 800px;
        font-weight: 400;
        line-height: 24px;            
        color: #757575;
    }


/* нижній хедер */
    .bottom-line
    {
        background-color: #2F303A;
    }